@import "../../../styles/mixins";
@import "../../../styles/variables";

.root {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: $mirage;
  color: white;
}
