@import "../../../styles/mixins";
@import "../../../styles/variables";

.root {
  padding: 1.5rem;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1004);
  background: white;
  @include container;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.darkRoot {
  background: $mirage;
  color: white;

  * {
    color: white;
  }
}

.summaryTop {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  @media (min-width: $tablet) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
}

.id {
  color: $vulcan;
  @include normalText;
  font-weight: bold;
  margin-bottom: 0.5rem;
  span {
    color: $shipCove;
  }
}

.description {
  @include normalText;
  color: $shipCove;
  margin-bottom: 2rem;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.address {
  @include smallText;
  color: $shipCove;

  p {
    margin-bottom: 0.25rem;
  }
}

.billingInformation {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  margin-bottom: 2.5rem;
}

.billingLabel {
  @include normalText;
  color: $shipCove;
  margin-bottom: 1rem;
}

.dateInfo {
  color: $vulcan;
  margin-right: 2.75rem;
  h3 {
    margin-bottom: 2rem;
  }

  @media (min-width: $tablet) {
    margin-right: 5rem;
  }

  @media (min-width: $desktop) {
  }
}

.clientInfo {
  color: $vulcan;
  margin-bottom: 2rem;
  h3 {
    margin-bottom: 0.75rem;
  }

  @media (min-width: $tablet) {
    margin-right: 24%;
  }
}

.emailInfo {
  flex-basis: 100%;

  @media (min-width: $tablet) {
    flex-basis: auto;
  }
}

.whiteText {
  color: white;
}
