.container {
  width: clamp(327px, 87.5%, 730px);
  margin: 0 auto;
  padding-top: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-controls {
  display: flex;
  align-items: center;
}
