@import "../../../styles/mixins";
@import "../../../styles/variables";

.input {
  width: 100%;
  height: 3rem;
  padding: 0 1.125rem;
  border-radius: 0.25rem;
  border: 1px solid $selago;
  @include normalText;
  font-weight: bold;

  &:focus {
    border: 1px solid $purple;
  }
}

.label {
  display: block;
  margin-bottom: 0.75rem;
  @include normalText;
  color: $shipCove;
}

.root {
  margin-bottom: 1.5rem;
}
