@import "../../../styles/mixins";
@import "../../../styles/variables";

.input {
  width: 100%;
  height: 3rem;
  padding: 0 1.125rem;
  border-radius: 0.25rem;
  border: 1px solid $selago;
  @include normalText;
  font-weight: bold;

  &:focus {
    border: 1px solid $purple;
  }
}

.darkRoot {
  label {
    color: white;
  }
  input {
    color: white;
    background-color: $mirage;
    border: 1px solid $ebony;
  }
}

.label {
  display: block;
  margin-bottom: 0.75rem;
  @include normalText;
  color: $shipCove;
}

.root {
  margin-bottom: 1.5rem;
  position: relative;
}

.invalidLabel {
  color: #ec5757;
  letter-spacing: -0.21px;
  line-height: 0.9375rem;
  position: absolute;
  font-size: 0.625rem;
  right: 0%;
  top: -1%;
}
