@mixin normalText {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: -0.25px;
}

@mixin smallText {
  font-size: 0.6875rem;
  line-height: 1.125rem;
  letter-spacing: -0.23px;
}

@mixin container {
  width: clamp(20rem, 87.5%, 730px);
  margin: 0 auto;
}

@mixin button {
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  border: none;
  transition: 0.2s all ease;
  white-space: nowrap;
  @include normalText;
  font-weight: bold;
}
