// https://chir.ag/projects/name-that-color/#DFE3FA

// COLORS
$purple: #7c5dfa;
$heliotrope: #9277ff;
$mirage: #1e2139;
$ebony: #252945;
$selago: #dfe3fa;
$baliHai: #888eb0;
$shipCove: #7e88c3;
$vulcan: #0c0e16;
$burntSienna: #ec5757;
$monaLisa: #ff9797;
$whisper: #f8f8fb;
$mirage2: #141625;
$darkAccent: #494e6e;
// BREAKPOINTS
$tablet: 768px;
$desktop: 1440px;
